@import "../../styles/vars";

.blog-item {
  .image-wrapper {
    overflow: hidden;

  }
  h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }
  span {
    font-size: 11px;
    font-weight: 400;
    line-height: 30px;
  }
  p {
    color: $paragraph-color-gray;
  }
  img {
    transition: transform 0.6s ease;
    vertical-align: bottom;
    &:hover {
      transform: scale(1.1);
    }
  }
}
