@import "../../styles/vars";
header {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100vw;
  .wrapper {
    max-width: 100vw;
    box-sizing: border-box;
    padding: 0 15px;
    transition: box-shadow 0.4s ease, background-color 0.4s ease;
    nav {
      display: flex;
      justify-content: space-between;
      a {
        align-self: center;
        max-width: 130px;
        img {
          max-width: 100%;
        }
      }

      .nav-items {
        display: flex;
        li {
          padding: 26px 22px;
          transition: padding 0.4s ease;
        }
      }
    }
    &.navShadow {
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 4px 30px -5px rgba(#000, 0.2);
      nav {
        .nav-items {
          li {
            padding: 18px 22px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 760px) {
  header {
    .wrapper {
      nav {
        a {
          max-width: 34%;
        }
        .nav-items {
          li {
            padding: 26px 15px;
          }
        }
      }
      &.navShadow {
        nav {
          .nav-items {
            li {
              padding: 18px 15px;
            }
          }
        }
      }
    }
  }
}
